/* General page styling */
html, body {
    height: 100%;
    margin: 0;
  }
  
  #docHistory-cy {
    height: 400px; /* Adjust to fit content */
    overflow: auto;
  }
  
  #historySequencerCy {
    height: 200px; /* Adjust to fit content */
    overflow: auto;
  }
  /* Tooltip container styling */
  #cytoscapeTooltipContainer {
    padding: 10px;
    background-color: #f8f8f8;
  }
  
  #bpmSlider {
    width: 100%;
  }

  /* Highlight styling for the active list item */
.is-active {
    background-color: #00d1b2; /* Bulma's primary color */
    color: white;
    font-weight: bold;
    border-radius: 4px; /* Optional: Adds rounded corners */
    padding: 5px; /* Optional: Adds padding */
}
