/* General page styling */
html, body {
    height: 100%;
    margin: 0;
  }
  
  #docHistory-cy, #historySequencerCy {
    height: 400px; /* Adjust to fit content */
    overflow: auto;
  }
  
  /* Tooltip container styling */
  #cytoscapeTooltipContainer {
    padding: 10px;
    background-color: #f8f8f8;
  }
  
  #bpmSlider {
    width: 100%;
  }