 /* Flex container for two-column layout */
 #container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Left column for instructions */
#instructions {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 300px; /* Adjust width as desired */
}

/* Right column for Cytoscape container */
#cy {
  width: 100%;
  height: 100vh;
  display: block;
  flex: 3;
  background-color: #e0e0e0;
}

#docHistory-cy {
  flex: 1; /* Take up remaining space */
  border: 1px solid #ccc; /* Optional: add a border for visibility */
  min-height: 500px; /* Ensure it has a minimum height */
}
.bottom-button {
  position: absolute;
  bottom: 5%;
  /* left: 100%; */
  /* transform: translateX(-50%); Centers the button horizontally */
}
