body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .react-flow__edge {
    z-index: 10; /* Bring edges to the front */
    pointer-events: all; /* Ensure edges remain interactive */
  }
  
  .react-flow__node {
    z-index: -1 !important;; /* Lower nodes' z-index */
  }


  .context-menu {
    background: white;
    border-style: solid;
    box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
    position: absolute;
    z-index: 10;
  }
  
  .context-menu button {
    border: none;
    display: block;
    padding: 0.5em;
    text-align: left;
    width: 100%;
  }
  
  .context-menu button:hover {
    background: white;
  }